/* common.css */
/* Nanum Gothic (Korean) http://www.google.com/fonts/earlyaccess */

@font-face {
  font-family: 'NanumSquare';
  src: url("https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css");
}

* {
  margin: 0;
  padding: 0;
}
html, body {
  font: 13px / normal 'NanumSquare', sans-serif;
  color: #000;
}
table, tr, th, td {
  font: 13px / normal 'NanumSquare', sans-serif;
  color: #000;
  border-collapse: collapse;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 1.0em;
  font-weight: normal;
}
ul, ol, li {
  list-style: none;
}
img, fieldset, frameset, iframe {
  border: none;
}
input, select, option, textarea, button {
  border: none;
  background: transparent;
  border-radius: 0;
  outline: none;
}
a, img, label {
  display: block;
}
legend, hr, caption {
  display: none;
}
em, i, address {
  font-style: normal;
}
b, strong {
  font-weight: normal;
}
a {
  text-decoration: none;
  color: #000;
}
.skip, .blind {
  display: block;
  height: 0;
  overflow: hidden;

  position: absolute;
  top: -6000px;
}